<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Приложение</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        padding: 20px;
        width: 960px;
        background-color: #f2f2f2;
        border: 1px solid #000;
        border-radius: 5px;
      }
      .container h1 {
        padding: 20px;
      }
      .container input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      .container input[type="submit"] {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .container input[type="submit"]:hover {
        background-color: #45a049;
      }
      .container_message p {
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Прогнозирование размера сварного шва при электронно-лучевой сварке
        тонкостенных конструкций аэрокосмического назначения
      </h1>
      <form action="" method="post">
        <p>
          <label for="IW">Сварочный ток (IW)</label>
          <input type="text" name="IW" /><br />
        </p>
        <p>
          <label for="IF">Ток фокусировки (IF)</label>
          <input type="text" name="IF" />
        </p>
        <p>
          <label for="VW">Скорость сварки (VW)</label>
          <input type="text" name="VW" />
        </p>
        <p>
          <label for="FP">Расстояние (FP)</label>
          <input type="text" name="FP" />
        </p>
        <p><input type="submit" value="Отправить" /></p>
      </form>

      <div class="container_message">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
